.form-signin {
    max-width: 330px;
    padding: 15px;
    border :1px solid #0d6efd;
    border-radius: 5px;
}

.sgnimg{
    margin-left: 80px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.anum_not_valid{
    background: rgba(255, 0, 0, 0.248);
    border: 1px solid red;
}