.form-signin {
    max-width: 330px;
    padding: 15px;
    border :1px solid #0d6efd;
    border-radius: 5px;
}

.login-sec-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.anum_not_valid{
    background: rgba(255, 0, 0, 0.248);
    border: 1px solid red;
}

.billcard-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid yellow;
}

.billcard-date{
    background: #adff2f;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}


.billcard-name{
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}

.billcard-total{
    background: #00ff951e;
}

.billcard-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.billcard-footer-accno{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.billcard-footer-accno:hover{
    background: #0d6efd;
    color: white;
}

.billcard-footer-accno>span{
    padding-left: 5px;
}

.r-select{
    background: rgba(238, 130, 238, 0.43);
}

.bill-check-entry{
    display: flex;
    align-items: center;
    justify-content: space-around;
}